<header class="header">
    <div class="header__wrapper">
        <div class="container">
            <nav class="header__nav">
                <a href="/" class="header__logo">
                    <img src="/movie.svg" alt="Logo" class="header__logo-icon">
                </a>
                <div class="header__from-wrap">
                    <form class="header__form">
                        <input class="header__form-input" type="text" name="search" aria-label="Search movie">
                    </form>

                    <button class="header__form-clear" aria-label="Clear search window">
                        <svg class="header__form-clear-icon">
                            <use href="/sprites.svg#icon-close_menu"></use>
                        </svg>
                    </button>
                </div>
                <button class="header__menu js-menu-btn" aria-label="Open mobile menu button">
                    <svg class="header__menu-icon">
                        <use href="/sprites.svg#icon-open_menu"></use>
                    </svg>
                </button>
            </nav>
        
            <div class="header__search">
                <div class="header__search-backdrop">
                    <ul class="header__search-list">
                    </ul>
                </div>
            </div>
        </div>
        <div class="header__mobile-menu js-mobile">
                <ul class="header__mobile-list">
                    <li class="header__mobile-item">
                        <a class="header__mobile-link" href="/">
                            <svg class="header__mobile-icon">
                                <use href="/sprites.svg#icon-home"></use>
                            </svg>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="header__mobile-item">
                        <a class="header__mobile-link" href="/pages/movies/movies.html">
                            <img src="/movie.svg" alt="Logo" class="header__mobile-icon">
                            <span>Movies</span>
                        </a>
                    </li>
                    <li class="header__mobile-item">
                        <a class="header__mobile-link" href="/pages/serial/serials.html">
                            <svg class="header__mobile-icon">
                                <use href="/sprites.svg#icon-tv"></use>
                            </svg>
                            <span>Serials</span>
                        </a>
                    </li>
                    <li class="header__mobile-item">
                        <a class="header__mobile-link" href="/pages/trends/trends.html">
                            <svg class="header__mobile-icon">
                                <use href="/sprites.svg#icon-trend"></use>
                            </svg>
                            <span>Trends</span>
                        </a>
                    </li>
                </ul>
            </div>

            
    </div>

</header>