.header {
}

.header__wrapper {
  max-width: 375px;
  position: relative;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.header__logo {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dc2626;
  border-radius: 2px;
}

.header__logo-icon {
  width: 12px;
  height: 12px;
}

.header__from-wrap {
  position: relative;
}

.header__form {
}

.header__form-input {
  width: 259px;
  padding: 6px 21px;
  border-radius: 30px;
  font-weight: 400;
  font-size: 12px;
  color: rgba(10, 10, 10, 0.8);
  border: none;
}

.header__form-clear {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  display: none;
}

.header__form-clear-icon {
  width: 14px;
  height: 14px;
  stroke: #000000;
}

.form-clear-visible {
  display: block;
}

.header__form-input:focus {
  border: none;
  outline: none;
}

.header__menu {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__menu-icon {
  width: 26px;
  height: 26px;
  stroke: #b2b2b2;
}

/* MOBILE MENU */

.header__mobile-menu {
  opacity: 0;
  pointer-events: none;
  display: none;
  transform: translateY(-20px);
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;


  max-width: 375px;
  margin: 0 auto;
  z-index: 111;
  background-color: #000000;

  transition:
    opacity 250ms ease-in-out,
    transform 250ms ease-in-out;
}

.header__mobile-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 0;
}

.header__mobile-item {
  transition: background-color 250ms ease-in-out;
}

.header__mobile-item:hover {
  background-color: #161616;
}

.header__mobile-link {
  padding: 9px 0;
  padding-left: 25px;
  font-size: 12px;
  color: #b2b2b2;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__mobile-icon {
  width: 12px;
  height: 12px;
  stroke: transparent;
  fill: #fff;
}


.is-open-mobile {
  display: block;
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

/* SEARCH */

.header__search-backdrop {
  height: calc(100vh - 46px);

  
}

.header__search {
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;

}



.header__search-list {
  display: flex;
  flex-direction: column;
  max-height: 320px;
  overflow-y: scroll;
  gap: 15px;
  background-color: #0A0A0A;
  padding: 20px;

}

.header__search-item {
  display: flex;
  gap: 20px;
}

.header__search-img {
  max-width: 60px;
}

.header__search-name {
  margin-top: 10px;
  color: #fff;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 20px;

}

.search-is-open {
  opacity: 1;
  pointer-events: all;
}