.movies__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 11px;
}

.movies__cinema {
  position: relative!important;
}

.movies__list-title {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 700;
  color: #fff;
  margin-bottom: 18px;
  font-size: 18px;
}



.movie__slide-btn {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  top: 100px;
  padding: 9px 6px;
  z-index: 10;

  transition: opacity 350ms ease-in-out;
  opacity: 0;
}

.movie_slide-prev {
  left: 0;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 51.03%,
    rgba(0, 0, 0, 0.9) 85.3%
  );

  padding-left: 1px;
}

.movie_slide-next {
  flex-direction: row-reverse;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 51.03%,
    rgba(0, 0, 0, 0.9) 85.3%
  );

  padding-right: 1px;
}

.movie_slide-prev-icon {
  width: 13px;
  height: 18px;
  stroke: #fff;
}

.movies__item:hover .movie__slide-btn {
  opacity: 0.9;
}

.swiper-wrapper {
  max-width: 375px;
}