.hero {
  max-width: 375px;
  margin: 0 auto;
  background-size: cover;
  height: calc(100vh - 46px);
  margin-bottom: 50px;
  padding-top: 20px;
}

.hero__content-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 20px;
}

.hero__movie-img {
  max-width: 197px;
  margin-bottom: 16px;
}

.hero__genres-list {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  margin-bottom: 10px;
}

.hero__genres-item {
  font-weight: 400;
  font-size: 14px;
  color: rgba(178, 178, 178, 0.8);
}

.hero__movie-name {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  margin-bottom: 11px;
  font-family: "Cormorant Garamond", sans-serif;
}

.hero__data-list {
  display: flex;
  gap: 11px;
  margin-bottom: 16px;
}

.hero__data-item {
  color: rgba(178, 178, 178, 0.7);
  display: flex;
  gap: 4px;
  align-items: center;
}

.hero__data-icon {
  width: 12px;
  height: 12px;
  stroke: rgba(178, 178, 178, 0.7);
}

.icon-clock {
  fill: rgba(178, 178, 178, 0.7);
}

.hero__data-text {
  font-size: 14px;
}

.language {
  text-transform: uppercase;
}

.hero__rate-wrap {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 11px;
}

.hero__rate-icon {
  width: 10px;
  height: 10px;
  fill: #facc15;
}

.hero__rate-text {
  color: #b2b2b2;
  font-size: 12px;
}

.rate-color {
  color: #facc15;
}

.hero__quote {
  font-size: 13px;
  color: rgba(178, 178, 178, 0.6);
  margin-bottom: 9px;
}

.hero__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.53846;
  color: #b2b2b2;
  margin-bottom: 13px;
}

.hero__btn {
  max-width: 121px;
  padding: 11px 23px;
  background-color: rgba(220, 38, 38, 0.8);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;

  transition: background-color 250ms ease-in-out;
}

.hero__btn-icon {
  fill: #fff;
  width: 10px;
  height: 12px;
}

.hero__btn:hover {
  background-color: rgba(173, 29, 29, 0.8);
}

/* INFO */

.info__nav {
  margin-bottom: 40px;
}

.info__nav-list {
  display: flex;
  border-bottom: 1px solid rgba(178, 178, 178, 0.4);
  gap: 21px;
}

.info__nav-item {
  color: rgba(178, 178, 178, 0.4);
  padding-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}

.info__nav-active {
  border-bottom: 2px solid rgba(173, 29, 29, 0.8);
  color: #fff;
}

.hidden {
  display: none;
}

/* CAST */

.cast {
  margin-bottom: 50px;
  overflow: hidden;
}

.cast__title {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  font-family: "Cormorant Garamond", sans-serif;
  margin-bottom: 10px;
}

.swiper {
}

.cast__slider {
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.cast__slider-list {
  display: flex;
  gap: 8px;
}

.swiper-slide {
}

.cast__slider-item {
  /* width: 91px; */
}

.cast__slider-link {
}

.cast__slider-img {
  width: 91px;
  height: 91px;
  margin: 0 auto;
  margin-bottom: 8px;
  border-radius: 50%;
  opacity: 1;
  transition:
    transform 350ms ease-in-out,
    opacity 350ms ease-in-out;
}

.cast__slider-name {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin-bottom: 4px;

  transition: color 250ms ease-in-out;
}

.cast__slider-role {
  font-size: 12px;
  color: rgba(178, 178, 178, 0.4);
  text-align: center;
}

.cast__slider-item:hover .cast__slider-img {
  transform: scale(1.1);
  opacity: 0.8;
}

.cast__slider-item:hover .cast__slider-name {
  color: rgba(220, 38, 38, 0.9);
}
